@base00: #292957; // Background color of main window
@base01: #FAEFA5; 
@base02: #6943FF;
@base03: #FFEE80;
@base04: #FAD000;
@base05: #9EFFFF;
@base06: #A599E9;
@base07: #B362FF; 
@base08: #b32a7e;
@base09: #fc6d24;
@base0A: #fda331;
@base0B: #FF9D00;
@base0C: #cec5ff;
@base0D: #A5FF90;
@base0E: #B362FF;
@base0F: #3AD900;
@base0G: #22204e;
@base0H: #a9eeff;
@base0I: #e2446e;
@base0J: #FF7200;
@base0K: #FB94FF;
@base0L: #5c34fc;
@base0M: #115268;
@base0N: #4c3B71;
@base0O: #42008D;
@base0P: #5E00A0;
@base0Q: #8e3db4;
@base0U: #e8daed;
@base0V: #929cb0;
@base0W: #31fafa;
@base0X: #ececc7;
@base0Y: #3273ff;