.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #1E1E3F;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #FAEFA5;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.editor .CodeMirror-linenumber {
  color: #FF628C;
}
.editor .CodeMirror-selected {
  background-color: #FF628C;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #B362FF;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #FF628C;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #6943FF !important;
  color: #FF628C !important;
  border-bottom: 1px solid #b32a7e !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #FFEE80;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #FAD000;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #FF628C;
}
.editor .CodeMirror-foldmarker {
  border-color: #FF628C;
  background-color: #FF628C;
  color: #6943FF;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(0, 0, 0, 0.1);
}
.editor .cm-searching {
  background-color: rgba(165, 69, 67, 0.4);
  color: white !important;
}
.editor .CodeMirror .cm-url {
  color: #A5FF90;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #FF9D00;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #fda331;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #9EFFFF;
}
.editor .CodeMirror .cm-variable {
  color: #FF628C;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2,
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #B362FF;
}
.editor .CodeMirror .cm-comment {
  color: #FF628C;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #fc6d24;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #FAD000;
}
.editor .CodeMirror .cm-link {
  color: #A5FF90;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #9EFFFF;
}
.editor .CodeMirror .cm-builtin {
  color: #A5FF90;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #fda331;
}
.editor .CodeMirror .cm-quote {
  color: #B362FF;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #FF628C;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #fda331;
}
.editor .CodeMirror .cm-em {
  color: #A5FF90;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #FF628C;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(0, 0, 0, 0.1);
  color: #FFEE80;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(0, 0, 0, 0.1);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #B362FF;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(105, 67, 255, 0.13) !important;
}
