.editor {
  /* All 'dem swatches */
  /* Active Line Highlight support */
}
.editor .CodeMirror {
  background-color: #292957;
}
.editor .CodeMirror-scroll,
.editor .CodeMirror-dialog {
  color: #ececc7;
}
.editor .CodeMirror-gutters {
  background-color: transparent;
  border-right: 1px solid rgba(67, 7, 122, 0.1);
}
.editor .CodeMirror-linenumber {
  color: #9EFFFF;
}
.editor .CodeMirror-selected {
  background-color: #B362FF;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: rgba(0, 238, 255, 0.384);
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #A599E9;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background: #6943FF !important;
  color: #FAEFA5 !important;
  border-bottom: 1px solid #b32a7e !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #FFEE80;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #FAD000;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #A599E9;
}
.editor .CodeMirror-foldmarker {
  border-color: #A599E9;
  background-color: #A599E9;
  color: #6943FF;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: rgba(48, 14, 141, 0.1);
}
.editor .cm-searching {
  background-color: rgba(165, 69, 67, 0.4);
  color: #ffffff !important;
}
.editor .CodeMirror .cm-url {
  color: #3AD900;
}
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #3273ff;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #FF9D00;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #fda331;
}
.editor .CodeMirror .cm-def {
  color: #B362FF;
}
.editor .CodeMirror .cm-property {
  color: #8e3db4;
}
.editor .CodeMirror .cm-variable {
  color: #e2446e;
}
.editor .CodeMirror .cm-keyword {
  color: #31fafa;
}
.editor .CodeMirror .cm-operator {
  color: #929cb0;
}
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #FAEFA5;
}
.editor .CodeMirror .cm-comment {
  color: #3AD900;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #fc6d24;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #A599E9;
}
.editor .CodeMirror .cm-link {
  color: #FF7200;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #cec5ff;
}
.editor .CodeMirror .cm-builtin {
  color: #FF7200;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-tag {
  color: #fda331;
}
.editor .CodeMirror .cm-quote {
  color: #B362FF;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #a9eeff;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #fda331;
}
.editor .CodeMirror .cm-em {
  color: #A5FF90;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #5c34fc;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background: rgba(111, 0, 255, 0.363);
  color: #a9eeff;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(111, 0, 255, 0.11);
}
.editor .CodeMirror .gfm-codeblock {
  color: #a9eeff;
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #B362FF;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(105, 67, 255, 0.13) !important;
}
